input[type="text"], textarea{
	border-radius: 0!important;
	border: 1px solid rgba( $darkGrey, .3 )!important;
	padding: .8em!important;
	font-size: 20px!important;
	color : $darkGrey;
}

.form-stacked{

}