header[role="main"]{
	max-height: 60px;
	padding: 20px;
	// header
  img {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
  }
	h1{
		float: left;
		margin: .27em 0;
		a{
			text-decoration: none;
			color: $darkGrey;
		}		
		&:hover{
			& ~ .last-checkin {
				display: block;
			}
		}
	}
	.last-checkin {
		position: absolute;
		top: 50px;
		left: 20px;
		display: inline-block;
		font-size: 15px;
		color: #ddd;
		display: none;
		@media screen and ( max-width : $maxWidth ) {
			left: 40px;
		}
	}
	.menu{
		float: left;
		display: table;
		width: auto;
		line-height: 70px;
		margin-left: 20px;
		margin-top: -28px;
		a {
			color: $blue;
		}
	}
	.button {
		float: right;
	}
	@media screen and ( max-width : $maxWidth ) {
		padding: 20px 40px;
	}
	.icon-list{
		font-size : 45px;
		text-decoration: none;
		line-height: 55px;
		float: right;
		display: none;
	}
	@media screen and ( max-width : 767px ) {
		.signup-button{
			display: none;
		}
		.icon-list {
			display: block;
			&:focus {
				background: $blue;
				outline: 0;
				color: #fff;
				&~ .menu {
					background: $blue;
					display: block;
					li{
						a {	
							color: #fff;
							&:hover{
								background : $darkGrey;
							}
						}
					}
				}
			}
		}
		.menu {
			display: none;
			position: absolute;
			right: 0px;
			left: 0;
			top: 80px;
			margin-top: -5px;
			margin-left: 0;
			float: none;
			ul{
				width: 100%;
				height: auto;
			}
			li{
				display: block;
				line-height: 1.5em;
				text-align: center;
				float: none;
				a {
					padding: 15px 0;
				}
			}
			&:hover{
				display: block;
			}
		}
	}
}


















