@font-face {
	font-family: 'riversideicons';
	src:url('./fonts/riversideicons.eot');
	src:url('./fonts/riversideicons.eot?#iefix') format('embedded-opentype'),
		url('./fonts/riversideicons.ttf') format('truetype'),
		url('./fonts/riversideicons.woff') format('woff'),
		url('./fonts/riversideicons.svg#riversideicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'riversideicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}
.icon-clock:before {
	content: "\e601";
}
.icon-location:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}
.icon-rss:before {
	content: "\e606";
}
.icon-briefcase:before {
	content: "\e607";
}
.icon-meet:before {
	content: "\e608";
}
.icon-landscape:before {
	content: "\e609";
}
.icon-key:before {
	content: "\e60a";
}
.icon-rocket:before {
	content: "\e60b";
}
.icon-list:before {
	content: "\e60c";
}
.icon-cross:before {
	content: "\e60d";
}
.icon-arrow-left:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e610";
}
.icon-arrow-right:before {
	content: "\e611";
}
.icon-flow-branch:before {
	content: "\e612";
}
.icon-mug:before {
	content: "\e613";
}