h1, h2, h3 {
	color : $red;
}

a {
	color : $blue;
}

p {
	font-weight: 700;
	line-height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

p, li, strong, em, label {
	font-size : 20px;
	color: $darkGrey;
}

small {
	font-size: 14px;
	color: $darkGrey;
	margin-top: -15px;
	display: block;
}