---
layout: default
title: Riverside.io | We are a nonprofit coworking and hackerspace located in the heart of Downtown Riverside. Come join us!
---

<div class="hero">
    <div class="site">
      <h2>{{site.data.landing.subheader}}</h2>
      <div class="g-r">
        {% for section in site.data.landing.about %}
          <div class="u-1-3">
              <div class="hero-module">
                <i class="{{section.icon}}"></i>
                <p>{{section.contents | markdownify }} 
                  {% if section.href %}
                    <a href='{{section.href}}'>{{section.link-text}}</a>
                  {% endif %}</p>
              </div>
          </div>
        {% endfor %}
      </div>
      <h2>From some of our members</h2>
      <div class="testimonials">
      	{% for testimonial in site.data.testimonials %}
          <div class="testimonial" >
            <i class="testimonial-avatar avatar" style='background-image:url("{{testimonial.avatar}}");'/>
            <div class="testimonial-content"></i>
              <div class="bubble">
                {{ testimonial.contents | markdownify }}
                <strong>~ {{ testimonial.name }}</strong>
              </div>
            </div>
          </div>
      	{% endfor %}
      </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- TODO: Remove inline styles -->
<div class="events" style="text-align:center; padding-top:20px;">
    <img src="./img/grandopening.jpg" alt="Riverside.io Grand Opening"/>
</div>
<div class="expect">
  <h1>What to Expect</h1>
  <div class="g-r">
    <div class="u-2-3">
      <p>{{site.data.landing.expect.contents | markdownify}}</p>
    </div>
    <div class="u-1-3">
      <ul>
        {% for item in site.data.landing.expect.list %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="g-r">
    {% for photo in site.data.landing.expect.photos %}
      <div class="u-1">
        <p>
          <img src="{{photo.src}}">
          <br /> 
          {{photo.description}}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
<div class="become">
  <div class="site">
    <div class="become-container">
      <h1>Join Us</h1>
      <div class="g-r">
        <div class="u-1-2">
          <form action="" class="form form-stacked">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="input"/>
            <input type="submit" class="button alert join-submit" value="Sign Up" />
          </form>
        </div>
        <div class="u-1-2">
        <p>{{site.data.landing.join}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var _testimonials = {{ site.data.testimonials | jsonify }};
</script>
