<header role="main" class="clearfix"> 
  <h1 class="title"><a href="./index.html">{{ site.name }}</a></h1>
  <p class="last-checkin"></p>
  <a href="#" class="icon-list" tabindex="1"></a>
  <div id="site-menu" class="menu menu-open menu-horizontal">
    <ul>
      <li>
        <a href="./events.html">Events</a>
      </li>
      <li>
        <a href="./members.html">Members</a>
      </li>
      <li>
        <a target="_blank" href="http://us5.campaign-archive2.com/home/?u=0b634d613f02dd256ad0d7317&id=27ea75d96b">News</a>
      </li>
    </ul>
  </div>

  <a href="https://riversideio-access.herokuapp.com" class="button alert signup-button">Signup</a>
  
</header>
