<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="./css/main.css">

    </head>
    <body>

        <div class="site">
          <header role="main" class="clearfix">
            
            <h1 class="title"><a href="./index.html">{{ site.name }}</a></h1>
            <a href="#" class="icon-list" tabindex="1"></a>
            <div id="site-menu" class="menu menu-open menu-horizontal">
              <ul>
                <li>
                  <a href="./events.html">Events</a>
                </li>
                <li>
                  <a href="./members.html">Members</a>
                </li>
              </ul>
            </div>

            <a href="./signup.html" class="button alert signup-button">Signup</a>
            
          </header>
          {{ content }}
          <footer role="main"></footer>
        </div>

    </body>
</html>
