.events-header{
	padding: 0 40px;
	input{
		width: 100%;
		max-width: 500px;
	}
	.labels{
		label {
			float: left;
		}
		.right {
			float : right;
		}
		&:after{
			clear: both;
			display: block;
			content: "";
		}
	}
}