.members-list{
	list-style-type: none;
	padding: 40px 0 ;
	margin: 0;
	.member-list-item{
		padding: 20px;
		position: relative;
		min-height: 70px;
		border-bottom: 1px solid $lightGrey;
		.member-list-item-avatar{
			position: absolute;
			top: 20px;
			left: 20px;
		}
		.member-list-item-content{
			margin-left: 100px;
		}
	}
}